

/*main css document*/

body{
    margin: 0;
	left: 10%;
	right:10%;
	padding:0;
	font-Size: 20px;	/* 1em = 20px*/
 	font-family: "Segoe UI", verdana;/*Test font----------------*/
    background-image: URL(Bilder/juledekorasjon.jpg);
	background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	/*Test color--------------------*/
	background-size: 100%;
    /*-webkit-background: linear-gradient( #c2d8e6, #8ab4cf);/*not working?*/
}
footer{
	margin-left:5em;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
	display: inline-block;
	position: relative;    
	font-weight:bold;
}
footer:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}



.test{
	margin-right:10%;
	margin-left:10%;
}

.banner{
    background-image: url(Bilder/Hioa_jule_logo.png); /*get transparent image? .png*/
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 0 auto 1em; 
    padding;2em;

	width:100%;
    height:15em;   /* %? */
}

nav{   
    font-size: 1.7em;
    clear: both; 
    float:right;
    text-transform: uppercase;
    transform: translateY(10%); /*move menu a bit down from top*/ 
    -webkit-transform: translateY(10%); /*safari & android*/
}

nav a{
    border-left: solid black .08em;
    color: black; 
    padding: 0.4em;
    text-decoration: none;
    /*letter-spacing: .04em; */ 
    transition: letter-spacing .6s;  
}
nav a:hover{
    color: black; /*test-----------------------------------------*/
    letter-spacing: .1em;
    font-weight: 600;
}

nav li{
    bottom;100%;
    text-align:center;
    width:6em;
    list-style-type: none;
    display: inline;    
}

/*-------------------------------------------end of banner class--------------------------*/

/* --------------------------------------Luke START -------------------------------*/

.content{
        text-align:center;
        margin-left: auto;
        margin-right: auto;
}
.content ul{
	   padding-left:0.5em;
	   padding-right:0.5em;
    
}
.luke{ 
        background-size: contain;
        background-color: #c2d8e6;
        margin:0.6em;
        list-style-type:none;
        display: inline-block;
        height: 200px;
        width: 200px;
        box-shadow: .2em .2em 1em .3em #242424 ;
}
.dato {
        background-color: red;
        height: 200px;
        width: 200px;
        animation-style: preserve-3d;
        transform-origin: 0 0;
        transition: all 1s;
        transition-timing-function: ease-in;
}
.dato:before{
        text-align: center;
        display: block;6
        position: relative;
        top: -12%;
        color: white;
        font-size: 9em;
        font-weight: 500;
}

.opendato{
-webkit-filter:none;
        filter:none;
-webkit-transform: rotateY(-170deg);
        transform: rotateY(-170deg);
        filter: none;
        background-color: red;
        height: 200px;
        width: 200px;
        animation-style: preserve-3d;
        transform-origin: 0 0;
        transition: all 1s;
        transition-timing-function: ease-in;
}
.opendato:before{
        text-align: center;
        display: block;6
        position: relative;
        top: -12%;
        color: white;
        font-size: 9em;
        font-weight: 500;
}


#dato1:before{content: "1";}
#dato2:before{content: "2";}
#dato3:before{content: "3";}
#dato4:before{content: "4";}
#dato5:before{content: "5";}
#dato6:before{content: "6";}
#dato7:before{content: "7";}
#dato8:before{content: "8";}
#dato9:before{content: "9";}
#dato10:before{content: "10";}
#dato11:before{content: "11";}
#dato12:before{content: "12";}
#dato13:before{content: "13";}
#dato14:before{content: "14";}
#dato15:before{content: "15";}
#dato16:before{content: "16";}
#dato17:before{content: "17";}
#dato18:before{content: "18";}
#dato19:before{content: "19";}
#dato20:before{content: "20";}
#dato21:before{content: "21";}
#dato22:before{content: "22";}
#dato23:before{content: "23";}
#dato24:before{content: "24";}

/*----------------------------------------- Luke END -----------------------------*/

/*Snowing in the winter*/
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    position: fixed;
    color: #ecf3f7; /*testcolor-----------------------------------*/
    -webkit-filter: blur(.02em); /*not for IE, check for Firefox?*/
    filter: blur(.02em);/*Check if this works for FF*/
    -webkit-user-select: none; /*hmm error, but is green on caniuse.com https://developer.mozilla.org/en-US/docs/Web/CSS/user-select*/   
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index: 1000;
}
.snowflake:hover { cursor: default;}


/*CSS for Om oss-------------------------------------------------------------------------------------------*/

#omoss{
    background-image: url(Bilder/hioa_team_warrior.png);
}
.about{
    display:block;
    width:100%;
    height:20em;
    margin-bottom: 1em;
    background-color: #c2d8e6;
    color:black;
}


.about img{
    float:left;
    width: 200px;
    height:200px;
    position: relative;
    top:20%;
}

.about p{
    margin:.5em;
    padding-left: 2em;
    position: relative;
    top: 50%;
  	transform: translateY(-300%)
}

.about span{font-weight: 600}
.about a{text-decoration: none; letter-spacing: 1px;}
/*CSS for regler----------------------------------------------------------------------------------------------*/

article{
	margin-left:5em;
	margin-right:auto;
	display: inline-block;
	position: relative;    
	font-weight:bold;
}
article:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}
article h1{
	text-align:center;
}





























