

/*main css document*/

body{
    margin: 0;
	left: 10%;
	right:10%;
	padding:0;
	font-Size: 20px;	/* 1em = 20px*/
 	font-family: "Segoe UI";/*Test font----------------*/
    background-image: URL(Bilder/juledekorasjon.jpg);
	background-attachment: fixed;
    background-position: center;
	/*Test color--------------------*/
	background-size: 100%;
    /*-webkit-background: linear-gradient( #c2d8e6, #8ab4cf);/*not working?*/
}


.test{
	margin-right:10%;
	margin-left:10%;
    border: solid black 5px;
}

.banner{
    background-image: url(Bilder/Hioa_jule_logo.png); /*get transparent image? .png*/
    background-size: contain;
    background-repeat: no-repeat;
    border: solid black 5px;
    margin: 0 auto 1em; 
    padding;2em;

	width:100%;
    height:15em;   /* %? */
}

nav{   
    font-size: 1.7em;
    clear: both; 
    float:right;
    text-transform: uppercase;
    transform: translateY(10%); /*move menu a bit down from top*/
    /*transform: translateY(350%); /*rule for responsive design*/   
}

nav a{
    border-left: solid black .08em;
    color: black; 
    padding: 0.4em;
    text-decoration: none;
    /*letter-spacing: .04em; */ 
    transition: letter-spacing .6s;  
}
nav a:hover{
    color: black; /*test-----------------------------------------*/
    letter-spacing: .1em;
    font-weight: 600;
}

nav li{
    bottom;100%;
    text-align:center;
    width:6em;
    list-style-type: none;
    display: inline;    
}





.menu{   
}

.dropdownmenu{ display: none}

/*-----------------------------------------------------------------------end of banner class------------------------------------------------------------------*/
.content{
text-align:center;
margin-left: auto;
margin-right: auto;
}
.content ul{
	padding-left:0.5em;
	padding-right:0.5em;
}
.luke{
    background-image:url(Bilder/frozen_snowflake_cutiemark_by_proffes-d5ybcwl.png);/*test image-------------------------------------------*/
    background-size: contain;
    background-color: #c2d8e6; /*test---------------------------------*/
    margin:0.5em;
    list-style-type:none;
    display: inline-block;
    height: 200px;
    width: 200px;
    box-shadow: .2em .2em 1em .3em #242424 ;/*3dFX?*/
        
    -webkit-filter: blur(.06em); 
    filter: blur(.03em);/*Check if this works for FF*/
}
.luke:hover{-webkit-filter:none;filter:none;}

.luke:before{
    display: block;
    position: relative; /*vertical align*/
    top: -12%;
    
    color: white;
    font-size: 9em;
    font-weight: 500; 
}
#luke1:before{content: "1";} /*.js option for this?*/
#luke2:before{content: "2";}
#luke3:before{content: "3";}
#luke4:before{content: "4";}
#luke5:before{content: "5";}
#luke6:before{content: "6";}
#luke7:before{content: "7";}
#luke8:before{content: "8";}
#luke9:before{content: "9";}
#luke10:before{content: "10";}
#luke11:before{content: "11";}
#luke12:before{content: "12";}
#luke13:before{content: "13";}
#luke14:before{content: "14";}
#luke15:before{content: "15";}
#luke16:before{content: "16";}
#luke17:before{content: "17";}
#luke18:before{content: "18";}
#luke19:before{content: "19";}
#luke20:before{content: "20";}
#luke21:before{content: "21";}
#luke22:before{content: "22";}
#luke23:before{content: "23";}
#luke24:before{content: "24";}



/*Snowing in the winter*/
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    position: fixed;
    color: #ecf3f7; /*testcolor-----------------------------------*/
    -webkit-filter: blur(.02em); /*not for IE, check for Firefox?*/
    filter: blur(.02em);/*Check if this works for FF*/
    -webkit-user-select: none; /*hmm error, but is green on caniuse.com https://developer.mozilla.org/en-US/docs/Web/CSS/user-select*/   
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index: 1000;
}
.snowflake:hover { cursor: default;}


/*CSS for About us-------------------------------------------------------------------------------------------*/

.about{
    display:block;
    width:100%;
    height:20em;
    margin-bottom: 1em;
    background-color: #c2d8e6;
    color:black;
}


.about img{
    float:left;
    width: 200px;
    height:200px;
    position: relative;
    top:20%;
}

.about p{
    margin:.5em;
    padding-left: 2em;
    position: relative;
    top: 50%;
  	transform: translateY(-300%)
}

.about span{font-weight: 600}
.about a{text-decoration: none; letter-spacing: 1px;}