@media only screen and (max-width:1150px) {
	nav {font-size:  1.3em;}
    body{background-size: cover}

}
@media only screen and (max-width:894px) {
	nav {
    transform: translateY(200%);
    margin-right: 10%;}
    nav a{font-weight: 600;}
    nav a:hover{letter-spacing: 0;}
    .banner{height: 13em;}

}
@media only screen and (max-width:1150px) {

	nav {font-size:  1.3em;}
    body{background-size: cover}
}
@media only screen and (max-width:894px) {
	nav {
    transform: translateY(200%);
    margin-right: 10%;}
    nav a{font-weight: 600;}
    nav a:hover{letter-spacing: 0;}
    .banner{height: 13em;}
}
@media only screen and (max-width:650px) {   
	nav {font-size: 1.2em;}
}

@media only screen and (max-width:400px) {   
	body { min-width: 400px;}
}