@media screen and (max-width: 960px) {
    .innholdswrapper{margin-left: 5%; margin-right: 5%;}
    .banner{height: 11em;}
    #meny img{visibility: visible;}
    
    .luke, .front, .back, .bakgrunn{
        height: 120px;
        width: 120px;
    }
    .konkurranse .Lukk{font-size: 2em;}
    
    .front:before {font-size: 5em;}
    nav a:hover{letter-spacing: normal}
    .hovedmeny{display: none;}
    
    .konkurransewrapper{flex-flow: column-reverse nowrap}
    .konkurranse .venstreside{
        transform: translateY(-5em);
        border-right:none;
        width: 90%;
    }
    .konkurranse .høyreside{ padding: 0;}
    .konkurranse .høyreside article{display: none;}
    
     /*Sponsor*/
    .sponsor{flex-direction: column;}
    .sponsor a img{height: 150px;}
    .sponsor .sponsortekst { width: 95%; }
    
    footer{font-size: 0.9em;}
}

@media screen and (max-width: 620px) {
    .body{background-attachment:none;}
    .banner{height: 9em;}
    .visible a{font-size: .9em;}
    .konkurranse .høyreside{display:none;}
    .luke, .front, .back, .bakgrunn{
        height: 80px;
        width: 80px;
    }
    
    .front:before {font-size: 3.5em;}
    .bakgrunn a{font-size: 0.7em;}
    
    /*Om oss*/
    .about{width: 350px;}
   
}

@media screen and (max-width: 490px) {
    .banner{height: 5.5em;}
    
    .luke, .front, .back, .bakgrunn{
        height: 75px;
        width: 75px;
    }
    
    .front:before {font-size: 3em;}
    .bakgrunn a{font-size: 0.7em;}
}