body{
    margin: 0;
	left: 10%;
	right:10%;
	padding:0;
	font-Size: 20px;	/* 1em = 20px*/
 	font-family: "Segoe UI", verdana;
    background-image: URL(Bilder/juledekorasjon.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
	position: relative;    
	font-weight:bold;
	width:100%;
	height:100%;
	text-align:center;
	font-Size:1.5em;
}

footer:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}

.innholdswrapper{
	margin-right:10%;
	margin-left:10%;
}

nav ul{
    display: flex;
    display:-webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: flex-end;
    position: absolute;
    top: 25px;
    right: 2em;
    font-size: 1.1em;
    text-transform: uppercase;
    list-style: none;
}

nav a{
    border-left: solid black .08em;
    color: black; 
    padding: 0.4em;
    text-decoration: none;
    transition: letter-spacing 0.5s ease;
    letter-spacing: 0;/*fix for FF*/
}

nav a:hover{
    letter-spacing: .15em;
    font-weight: 600;
}

.closed { display: none;}


.visible ul{
    width: 9em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    top: 0.1em;
    right: 3em;
    z-index: 3;
    background-color: rgb(172,45,66);
}

.visible li{
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.visible li:last-of-type{border-bottom: none;}

.visible a{
    display: block;/*link over hele lengden av li*/
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1em;
    border-left: none;
}

#meny img{
    visibility: hidden;
    position: absolute;
    height: 40px;
    right: 25px;
    top: 24px;
    z-index: 3;
    cursor: pointer;
}

#logo{
    width: 100%;
    display: inline-block;
}

#logo img{
    float: left;
    height: auto;
    width: 100%;
}
/*---------------------------------------Meny slutt-----------------------*/

/* --------------------------------------Luke START -------------------------------*/

.lukewrapper {
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: center;
}

.luke {margin: 0.4em;}



.luke, .front, .back {
    list-style: none;
    width: 150px;
    height: 150px;
}

.flipper {
        transition: 1.2s ease;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        cursor: pointer;
}

.flipperopen{
        transition: 1.2s ease;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}

.front, .back {
    background-size: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
    background-color: rgb(172,45,66);
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.front:before{
    text-align: center;
    display: block;
    position: relative;
    top: -12%;
    color: white;
    font-size: 6.5em;
    font-weight: 500;
    content: attr(data-nummer);
}

.back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background-image: url(Bilder/MAZElogoNY.png);
        cursor: pointer;
}

#back2{background-image: url(Bilder/Bekk.png);}

.back img{
    height: 200px;
    width: 200px;
}

.bakgrunn{
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.2); 
    height: 150px;
    width: 150px;
    box-shadow: .2em .2em 1em .3em #242424 ;
}

.bakgrunn:hover{cursor: pointer;}

.bakgrunn a{
    display:block;
    text-align:center;
    padding-top: 32%;
    color: rgb(172,45,66);
    text-decoration: none; 
}

.lukewrapper li{counter-increment: luke;}
.bakgrunn a:before{content: "Klikk her for å åpne luke " counter(luke);}

/*----------------------------------------- Luke END -----------------------------*/

/*Snowing in the winter*/
.snowflakeContainer {
    position: absolute;
    left: 0;
    top: 0;
}
.snowflake {
    position: fixed;
    color: #ecf3f7; 
    -webkit-filter: blur(.02em); /*not for IE, check for Firefox?*/
    filter: blur(.02em);/*Check if this works for FF*/
    z-index: 1000;
    pointer-events: none; /*istedet for user select ikke for IE <11*/
}

.snowflake:hover { pointer-events: none; }

/*-------------- CSS for Konkurranseskjema ------------------------------------------------------------------*/

.konkurranse{
    z-index: 10000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    
	background: rgba(0,0,0,0.8);
	opacity:0;
	-webkit-transition: opacity 400ms ease-in; /*old android*/
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.konkurransewrapper{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row nowrap;
    width: 70%;
    height: 80%;
    position: relative;
    background: white;
    padding: 2% 5% 2% 5%;
    border-radius: 1em;
    margin: 4% auto;
}

.konkurranse .venstreside{
    margin: auto;
    width: 49%;
    border-right: solid lightgray 3px;
}

.konkurranse .høyreside{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: column nowrap;
    margin: auto;
    width: 49%;
    text-align: justify;
    padding: 1%;
}

.konkurranse img{margin:auto;}

.høyreside article{    /*få tak i en uformatert tekst?*/
    font-weight: 400; /*Hvor kommer BOLD fra?*/
    line-height: 1em; /*hvor kommer større linjehøyde fra?*/
}

.konkurranse:target {
	opacity: 0.99; /*poof like magic*/
	pointer-events: auto;
}

.konkurranse .Lukk {
    color: red;
    font-size: 1em;
	position: absolute;
	right: 0.50em;
    top: 0.3em;
	text-decoration: none;
	font-weight: bold;
}

.konkurranse [name="Snr"]{
    font-size: inherit;
    font-family: inherit;
}

.konkurranse [value="Send inn"]{
    font-family: inherit;
    font-size: 0.7em;
    font-weight: 500;
    width: 6em;
    height: 2em;
    color: red;
}

/* ------------------CSS For spesifikke nettlesere -------------*/

.internetexplorer{display: none;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /*IE hack link: http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11*/
    .front, .back{display: none;}
    .bakgrunn{content: attr(data-nummer);}
    .konkurranse img{width: 10em;}
    .internetexplorer{
        padding: 2%;
        display: block; 
        background-color: rgb(172,45,66);
        color: white;
        font-size: 1.5em;}
}

/*---------------- CSS for Om oss.html -------------------------------------------------------------*/

.omoss{background-image: url(Bilder/hioa_team_warrior.png);}

.omosswrapper{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: space-around;
}

.about{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: column nowrap;
    width: 250px;
    padding: 3%;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: white;
    opacity: 0.98;
}

.about p{margin: 0;}
.about p:first-of-type{
    color:black;
    text-align: center; 
    text-decoration: underline; 
    font-size: 1.2em;
}

.about img{
    margin: auto;
    padding-bottom: 0.5em;
    padding-top: 0.5;
    width: 150px;
}

.about a{text-decoration: none; letter-spacing: 1px;}

/*--------------------- CSS for regler.html----------------------------------------------------------------------------------------------*/

.regler{
	margin-bottom:2em;
	display: inline-block;
	position: relative;    
	font-weight:bold;
	width:80%;
	height:auto;
	margin-left:10%;
	margin-right:10%
}

.regler:before{
	
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:rgb(241, 245, 241);
	opacity: .7;
}
.reglement {
	display:inline-block;
	width:40%;
	margin-left:30%;
	margin-right:30%;
	font-Size:1.3em;
	font-family:sans-serif;
}

h1{text-align:center;}

/*------------- css for sponsorsiden    ------------------------------------*/

.sponsorwrapper{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    color:black;
}

.sponsor{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: white;
    opacity: 0.9;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

.sponsor a img{height: 200px;}

.sponsortekst {width: 70%; margin: 0.5em; }
.sponsortekst h2{font-size: 1em; margin: 0;}
.sponsortekst p{
    text-align: justify;
    line-height: 1em;
    margin:0;
    padding: 1%;
}