body{
    margin: 0;        /*footer 100% width*/
	font-Size: 20px;	/* 1em = 20px*/
 	font-family: "Segoe UI", verdana;
    background-image: URL(Bilder/juledekorasjon.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
	margin-left: 0;
    margin-right: 0;
	display: inline-block;
	position: relative;    
	font-weight:bold;
	width:100%;
	text-align:center;
	font-Size:1.5em;
}

footer:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}

.innholdswrapper{
	margin-right:10%;
	margin-left:10%;
}

nav ul{
    display: flex;
    display:-webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: flex-end;
    position: absolute;
    top: 25px;
    right: 2em;
    font-size: 1.1em;
    text-transform: uppercase;
    list-style: none;
}

nav a{
    border-left: solid black .08em;
    color: black; 
    padding: 0.4em;
    text-decoration: none;
    transition: letter-spacing 0.5s ease;
    letter-spacing: 0;/*fix for FF*/
}

nav a:hover{
    letter-spacing: .15em;
    font-weight: 600;
}

.closed { display: none;}

.visible ul{
    width: 9em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    top: -2px;
    right: 67px;
    z-index: 3;
    background-color: rgb(172,45,66);
}

.visible li{
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.visible li:last-of-type{border-bottom: none;}

.visible a{
    display: block;/*link over hele lengden av li*/
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1em;
    border-left: none;
}

#meny img{
    visibility: hidden;
    position: absolute;
    height: 40px;
    right: 20px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
}

#logo{
    width: 100%;
    display: inline-block;
}

#logo img{
    float: left;
    height: auto;
    width: 100%;
}

/* --------------------------------------Luke START -------------------------------*/

.lukewrapper {
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: center;
}

.luke { margin: 0.4em;}

.luke, .front, .back {
    list-style: none;
    width: 150px;
    height: 150px;
}

.flipper {
    transition: 1.2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    cursor: pointer;
}

.flipperopen{
    transition: 1.2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front, .back {
    background-size: 100%;
	backface-visibility: hidden;
	position: absolute;
}

.front {
    background-color: rgb(172,45,66);
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    color: white;
}

.front:before{
    text-align: center;
    display: block;
    position: relative;
    top: -12%;
    color: inherit;
    font-size: 6.5em;
    font-weight: 500;
    content: counter(luke);
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-image: url(Bilder/MAZElogoNY.png);
    cursor: pointer;
}

#back2{background-image: url(Bilder/Bekk.png);}

.bakgrunn{
    text-align: center;
    display: flex; /*cener align .bakgrunn a*/
    display: -webkit-flex; /*safari*/
    height: 150px;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.7); 
    box-shadow: .2em .2em 1em .3em #242424 ;   
}

.bakgrunn:hover{cursor: pointer;}

.bakgrunn a{
    margin: auto;
    display:block;
    padding: 5%;
    color: rgb(172,45,66);
    text-decoration: none; 
}

.lukewrapper li{counter-increment: luke;} /*javascript counts this, when we close old luker in mobile*/
.bakgrunn a:after{content: " " counter(luke);}

/*-------------- CSS for Konkurranseskjema ------------------------------------------------------------------*/

.konkurranse{
    z-index: 10000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    
	background: rgba(0,0,0,0.8);
	opacity:0; /*FF fix*/
	-webkit-transition: opacity 400ms ease-in; /*old android*/
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.konkurransewrapper{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row nowrap;
    width: 70%;
    position: relative;
    background: white;
    padding: 2% 5% 2% 5%;
    border-radius: 1em;
    margin: 4% auto;
}

.konkurranse .venstreside{
    margin: auto;
    width: 49%;
    border-right: solid lightgray 3px;
}

.konkurranse .høyreside{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: column nowrap;
    margin: auto;
    width: 49%;
    text-align: justify;
    padding: 1%;
}

.konkurranse img{margin:auto;}

.høyreside article{    /*få tak i en uformatert tekst?*/
    font-weight: 400; /*Hvor kommer BOLD fra?*/
    line-height: 1em; /*hvor kommer større linjehøyde fra?*/
}

.konkurranse:target {
	opacity: 0.99; /*poof like magic*/
	pointer-events: auto;
}

.konkurranse .Lukk {
    color: red;
    font-size: 1em;
	position: absolute;
	right: 0.50em;
    top: 0.3em;
	text-decoration: none;
	font-weight: bold;
}

.konkurranse [name="Snr"]{
    font-size: inherit;
    font-family: inherit;
}

.konkurranse [value="Send inn"]{
    font-family: inherit;
    font-size: 0.7em;
    font-weight: 500;
    width: 6em;
    height: 2em;
    color: red;
}

/* ------------------CSS For spesifikke nettlesere -------------*/

.internetexplorer{display: none;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /*IE hack link: http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11*/
    .front, .back{display: none;}
    .konkurranse img{width: 10em;}
    .internetexplorer{
        padding: 2%;
        display: block; 
        background-color: rgb(172,45,66);
        color: white;
        font-size: 1.5em;}
}

/*---------------- CSS for Om oss.html -------------------------------------------------------------*/

.omoss{background-image: url(Bilder/hioa_team_warrior.png);}

.omosswrapper{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: row wrap;
    justify-content: space-around;
}

.about{
    display: flex;
    display: -webkit-flex; /*safari*/
    flex-flow: column nowrap;
    width: 250px;
    border-radius: 0.5em;
    padding: 3%;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgb(172,45,66);
    background-color: rgba(172,45,66, 0.95);
}

.about p{margin: 0; color: white; font-size: 0.8em;}
.about p:first-of-type{
    color:white;
    text-align: center; 
    text-decoration: underline; 
    font-size: 1em;
}

.about img{
    margin: auto;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
.sosialemedier{
    display: inline-block;
    text-align: center;
}
.sosialemedier img{
    width: 75px;
    height: 75px;
}

.about a{text-decoration: none; letter-spacing: 1px;}

/*--------------------- CSS for regler.html----------------------------------------------------------------------------------------------*/

.regler{
    margin: 10%; 
    padding: 1%;
    color: white;
    background-color: rgb(172,45,66);
    background-color: rgba(172,45,66, 0.95);
}

.reglement {
    margin-top: 2em;
	font-Size:1.1em;
	font-family:sans-serif;
}

h1{
    text-align:center; 
    font-weight:bold; 
    text-decoration: underline;
}

/*------------- css for sponsorsiden    ------------------------------------*/

.sponsorwrapper{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    color:black;
}

.sponsor{
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 1em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    color: white;
    background-color: rgb(172,45,66);
    background-color: rgba(172,45,66, 0.95);
}

.sponsor a img{height: 150px; width: 150px;padding: 5%; border-radius: 10em;}
.sponsortekst {width: 70%; margin: 0.5em;}
.sponsortekst h2{font-size: 1em; margin: 0;}

.sponsortekst p{
    line-height: 1em;
    margin:0;
    padding: 1%;
}
.sponsortekst a{
    color:black;
    
}