body{
    margin: 0;
	left: 10%;
	right:10%;
	padding:0;
	font-Size: 20px;	/* 1em = 20px*/
 	font-family: "Segoe UI", verdana;
    background-image: URL(Bilder/juledekorasjon.jpg);
	background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.content{
    padding-left: auto;
    padding-right: auto;
}
.content ul{
    padding: 0 auto;
}

footer{
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
	position: relative;    
	font-weight:bold;
	width:100%;
	height:100%;
	text-align:center;
	font-Size:1.5em;
}

footer:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}

.test{
	margin-right:10%;
	margin-left:10%;
}

.mobilbanner{display:none;}

.banner{
    background-image: url(Bilder/Hioa_jule_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 0 auto 1em; 
    padding:2em;

	width:100%;
    height:15em;   /* %? */
}

nav{   
    font-size: 1.3em;
    clear: both; 
    float:right;
    text-transform: uppercase;
    transform: translateY(10%); /*move menu a bit down from top*/ 
    -webkit-transform: translateY(10%); /*safari & android*/
}

nav a{
    border-left: solid black .08em;
    color: black; 
    padding: 0.4em;
    text-decoration: none;
    transition: letter-spacing .5s ease;  
}

nav a:hover{
    letter-spacing: .15em;
    font-weight: 600;
}

nav li{
    bottom:100%;
    text-align:center;
    width:6em; /*CSS error width + diplay:inline*/
    list-style-type: none;
    display: inline;
}

/*-------------------------------------------end of banner class--------------------------*/

/* --------------------------------------Luke START -------------------------------*/
.luke {
    display: inline-block;
    margin:0.6em;
}

.flipperopen{
        transition: 1.2s;
-webkit-transform-style: preserve-3d;
-webkit-transform-origin: 0 0;
        transform-style: preserve-3d;
        transform-origin: 0 0;
        position: relative;
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}

.luke, .front, .back {
    width: 150px;
    height: 150px;
}

.flipper {
        transition: 1.2s;
-webkit-transform-style: preserve-3d;
-webkit-transform-origin: 0 0;
        transform-style: preserve-3d;
        transform-origin: 0 0;
        position: relative;
    cursor: pointer;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
        background-color: rgb(172,45,66);
        z-index: 2;
-webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
}
<<<<<<< HEAD
=======

>>>>>>> master
.front:before{
    text-align: center;
    display: block;
    position: relative;
    top: -12%;
    color: white;
    font-size: 6.5em;
    font-weight: 500;
}

.back {
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background-image: url(Bilder/MAZElogoNY.png);
        text-align: center;
    cursor: pointer;
}

#back2{
    background-image: url(Bilder/Bekk.png);
    background-size: 150px;
    
}

.back img{
    height: 200px;
    width: 200px;
}

.bakgrunn{
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.2);; 
    height: 150px;
    width: 150px;
    box-shadow: .2em .2em 1em .3em #242424 ;
}

<<<<<<< HEAD
.content .front:before{content: attr(data-nummer);}
=======
.bakgrunn:hover{
    cursor: pointer;
    
}

.luke a{
    display:block;
    text-align:center;
    padding-top: 50px;

    color: rgb(172,45,66);
    text-decoration: none;
    

    
}

.content .front:before{
    content: attr(data-nummer);
}
>>>>>>> master


/*----------------------------------------- Luke END -----------------------------*/

/*Snowing in the winter*/
.snowflakeContainer {
    position: absolute;
    left: 0;
    top: 0;
}
.snowflake {
    position: fixed;
    color: #ecf3f7; /*testcolor-----------------------------------*/
    -webkit-filter: blur(.02em); /*not for IE, check for Firefox?*/
    filter: blur(.02em);/*Check if this works for FF*/
    /*-webkit-user-select: none;  
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;*/
    z-index: 1000;
    pointer-events: none; /*istedet for user select ikke for IE <11*/
}
/*.snowflake:hover { cursor: default;}*//*pointer event istedet*/


/*CSS for Om oss.html-------------------------------------------------------------------------------------------*/

.omoss{
    background-image: url(Bilder/hioa_team_warrior.png);
}
.about{
    display:block;
    width:100%;
    height:20em;
    margin-bottom: 1em;
    background-color: white;
    opacity: 0.9;
    color:black;
}


.about img{
    float:left;
    width: 200px;
    height:200px;
    position: relative;
    top:20%;
}

.about p{
    margin:.5em;
    padding-left: 2em;
    position: relative;
    top: 50%;
  	transform: translateY(-300%)
}

.about span{font-weight: 600}
.about a{text-decoration: none; letter-spacing: 1px;}
/*CSS for regler.html----------------------------------------------------------------------------------------------*/

article{
	margin-left:5em;
	margin-right:auto;
	display: inline-block;
	position: relative;    
	font-weight:bold;
}

article:before{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background:white;
	opacity: .7;
}

h1{text-align:center;}

/*CSS for Spørremskjema ------------------------------------------------------------------*/
.konkurranse{
    z-index: 10000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    
	background: rgba(0,0,0,0.8);
	opacity:0;
	-webkit-transition: opacity 400ms ease-in; /*old android*/
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.konkurranse .skjema{
    position: relative;
	margin: 4% auto;
    background: white;
    font-size: 1.15em;
    border-radius: 1em;
    padding: 2% 5% 2% 5%;
}

.konkurranse:target {
	opacity: 0.99; /*poof like magic*/
	pointer-events: auto;
}

.Lukk {
    color: red;
    font-size: 1em;
	position: absolute;
	right: 0.50em;
    top: 0.3em;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.konkurranse .submit{
    text-align: center;
    margin: 0;
    padding: 2% 0;
}

[name="Snr"]{
    font-size: inherit;
    font-family: inherit;
}


[value="Send inn"] {
    font-family: inherit;
    font-size: 0.7em;
    font-weight: 500;
    width: 5em;
    height: 2em;
    color: red;
}
.ytreboks{   
    margin: 0 auto;
    padding: 0 auto;
    display: inline-block;
}
.indreboks{
    text-align: left;
    padding-left: auto;
    padding-right: auto;
    width: auto;
    padding-left: ;
    
}
.skjema{
    width: 70%;
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
}

.venstreside{
    text-align: center;
    width: 49%;
    height: 100%;
    float: left;
    display: inline-block;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-right: 0.5%;
    border-right: solid lightgray 3px;
}

.høyreside{
    text-align: center;
    width: 49%;
    height: 100%;
    display: inline-block;   
}
.høyreside article{
    margin-left: auto;
    margin-right: auto;
    padding: 1% 1% 1% 1%;
}



<!----- css for sponsorsiden    ------->
}
.sponsor{
    display:block;
    width:100%;
    height:15em;
    margin-bottom: 1em;
    background-color: white;
    opacity: 0.9;
    color:black;
}


.sponsorimg img{
	width:25%;
    float:left;
    width: 10em;
    height:10em;
    position: relative;
    top:20%;
}
.sponsortekst p{
	font-family:sans-serif;
	line-height:1px;
	float:right;
	width:70%;
	position:relative;
	text-align:center;
  	transform: translateY(-300%)
}
.sponsor a{text-decoration: none; letter-spacing: 1px;}
